.modal-window{
    position: absolute;
    top: 50%;
    left:50%;
    /*transform: translate(-50%, -50%);*/
    width: 400px;
    height: 400px;
    background-color: white;
    border: 2px solid #000;
    justify-content: center;
    margin: auto auto;
}

.modal-form{
    z-index: 1301;
}